@model MoreForYou.Services.Models.MasterModels.BenefitRequestModel

@{
    ViewData["Title"] = "RequestDetails";
}

<h1>RequestDetails</h1>

<div>
    <h4>BenefitRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Benefit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDateFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDateFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDateTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDateTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmedDateFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfirmedDateFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmedDateTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfirmedDateTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDelted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}